<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOfNeqmvA4fKyw_-Zo0Fo7WIcdNPXqi8E</string>
	<key>GCM_SENDER_ID</key>
	<string>626705000356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitledsaggo123.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-eb6ce</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-eb6ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626705000356:ios:c42626599b2890d6f74331</string>
</dict>
</plist>